<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <img src="/public/images/superman_PNG17.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Superhero DB
  </a>
</nav>