<nav class="navbar navbar-dark bg-dark" role="navigation">
  <a class="navbar-brand mx-auto" href="/">
    <img src="/images/superman_PNG29.png" width="50" height="30" class="d-inline-block align-top" alt="" style="text-align: center">
    Superhero DB
  </a>
  <a class="btn btn-outline-primary border-0" href="/create" role="button" >Add</a>
</nav>