<div class="container">
    <h1>Create superheroes</h1>
    <form action="postSuperhero" method="POST" enctype="multipart/form-data">
        <div class="form-row">
            <div class="col">
                <label>nickName</label>
                <input class="form-control" placeholder="nickName" name="nickName" />
            </div>
            <div class="col">
                <label>realName</label>
                <input class="form-control" placeholder="realName" name="realName" />
            </div>
        </div>
        <div class="form-group">
            <label>originDescription</label>
            <textarea class="form-control" rows="3" name="originDescription"></textarea>
        </div>
        <div class="form-row">
            <div class="col">
                <label>superpowers</label>
                <textarea class="form-control" rows="3" name="superpowers"></textarea>
            </div>
            <div class="col">
                <label>catchPhrase</label>
                <textarea class="form-control" rows="3" name="catchPhrase"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleFormControlFile1">Select pictures</label>
            <input type="file" name="filedata" class="form-control-file" id="exampleFormControlFile1" multiple
                accept="image/*,image/jpeg">
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
</div>