<div class="container">
    <h1>Create superheroes</h1>
    <form action="postSuperhero" method="POST" enctype="multipart/form-data">
        <div class="form-row">
            <div class="col">
                <label>nickName</label>
                <input class="form-control" placeholder="nickName" name="nickName" />
            </div>
            <div class="col">
                <label>realName</label>
                <input class="form-control" placeholder="realName" name="realName" />
            </div>
        </div>
        <div class="form-group">
            <label>originDescription</label>
            <textarea class="form-control" rows="3" name="originDescription"></textarea>
        </div>
        <div class="form-row">
            <div class="col">
                <label>superpowers</label>
                <textarea class="form-control" rows="3" name="superpowers"></textarea>
            </div>
            <div class="col">
                <label>catchPhrase</label>
                <textarea class="form-control" rows="3" name="catchPhrase"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleFormControlFile1">Select pictures</label>
            <input type="file" id="fileMulti" class="form-control-file" name="filedata" multiple />
            <span id="outputMulti"></span>
        </div>
        <button type="submit" class="btn btn-dark">Save</button>
    </form>
</div>

<script>
    var inp = document.getElementById('fileMulti');
    function handleFileSelectMulti(evt) {
        var files = evt.target.files; 
        {{!-- document.getElementById('outputMulti').innerHTML = ""; --}}
        for (let i = 0, f; f = files[i]; i++) {

            var reader = new FileReader();

            reader.onload = (function (theFile) {
                return function (e) {
                    // Render thumbnail.
                    var span = document.createElement('span');
                    span.innerHTML = ['<img class="img-thumbnail" src="', e.target.result,
                        '" title="', escape(theFile.name), '"/>'
                    ].join('');
                    document.getElementById('outputMulti').insertBefore(span, null);
                };
            })(f);

            reader.readAsDataURL(f);
        }
    }

    inp.addEventListener('change', handleFileSelectMulti, false);

</script>
