<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create superheroes</h1>
     <form action="postSuperhero" method="POST">
        <label>nickName</label>
        <input name="nickName" /><br><br>
        <label>realName</label>
        <input name="realName" /><br><br>
        <label>originDescription</label>
        <input name="originDescription" /><br><br>
        <label>superpowers</label>
        <input name="superpowers" /><br><br>
        <label>catchPhrase</label>
        <input name="catchPhrase" /><br><br>

        <input type="submit" value="Отправить" />
     </form>
</body>
</html>